:root {
    --bg-color:#111826;
    --white-color: white;
    --black-color: black;
    --lg-green-color: #1FC77E;
    --dk-green-color: #05E283;
    --yellow-color: #FEEA00;
    --purple-color: #7F3DD2;
    --trans-color: #414651ad;
    --xxxxl-fs: 5rem;
    --xxxl-fs: 3.75rem;
    --xxl-fs: 3rem;
    --mb-xl-fs: 2.25rem;
    --xl-fs: 2rem;
    --lg-fs: 1.62rem;
    --md-fs: 1.25rem;
    --sm-fs: 1rem;
    --xsm-fs: 0.82rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: var(--bg-color);
    color: var(--white-color);
    font-size: var(--sm-fs);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white-color);
}
button {
    background-color: var(--lg-green-color);
    color: var(--white-color);
    padding: 1.2em 1.6em;
    border-radius: 5px;
    cursor: pointer;
}
.green-color{
    color: var(--dk-green-color);
}
header, #container1, #container3 {
    width: 90%;
    margin: 2em auto;
}
nav {
    display: flex;
    justify-content: space-between;
}
#nav-bar{
    display: none;
}
#nav-link-div ul{
    display: flex;
    justify-content: space-between;
    gap: 6em;
}
#banner {
    display: flex;
    justify-content: space-between;
    margin: 6em auto;
    gap: 5em;
}
#banner-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
#banner-text h2 {
    font-size: var(--xxxxl-fs);
    padding: 0.5em 0;
}
#banner-text h3 {
    font-size: var(--xl-fs);
    padding: 0.5em 0;
}
#banner-text p {
    font-size: var(--md-fs);
    font-weight: lighter;
}
.trial-text {
    padding: 1.5em 0;
}
.flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    width: 90%;
    gap: 2em;
}
.flex > div {
    position: relative;
}
.flex img{
    max-width: 100%;
}
#purple-circle {
    background: var(--purple-color);
    border-radius: 50%;
    width: 107px;
    height: 107px;
}
#purple-div img, #green-div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#green-circle {
    background: var(--lg-green-color);
    border-radius: 50%;
    width: 107px;
    height: 107px;
}
#purple-text-div {
    background: #7F3DD2;
    border-radius: 53.5px 53.5px 53.5px 0px;
    width: 467px;
    height: 107px;
    margin-left: 3em;
    margin-top: 2em;
}
#purple-text-div p {
    padding: 1em 2em 1em 13em;
}
#yellow-shape {
    background: #FEEA00;
    width: 108px;
    height: 108px;
    border-radius: 0px 58px 58px 58px;
    transform: rotate(-90deg);
}
#green-yellow-div {
    margin-top: -8.5em;
}
#whatsapp1 {
    background-color: var(--black-color);
    margin: 2em auto;
    height: 100vh;
}
#whatsapp1-div {
    width: 70%;
    margin: 0 auto;
}
#whatsapp1-div img {
    max-width: 100%;
    margin: 6.8em auto 0;
}
main {
    margin: 10em auto;
}
#aim {
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}
#whatsapp2-div {
    width: 45%;
}
#whatsapp2-div img{
    max-width: 100%;
}
#aim-text {
    width: 45%;
}
#aim-text h2{
    font-size: var(--xxxl-fs);
    line-height: 63px;
}
#aim-div {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 1em 1.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em auto;
    width: 90%;
}
#aim-div h3, p {
    padding: 0.3em 0;
}
.aim-list ul {
    font-size: var(--xl-fs);
    font-weight: 600;
    margin: 1em auto;
    width: 90%;
}
.aim-list li {
    padding: 1.1em 1em;
    margin: 2em auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.aim-list li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}
#pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em auto;
    width: 100%;
}
#pricing h2 {
    font-size: var(--xxxl-fs);
    margin: 1em auto;
    text-align: center;   
}
#integration {
    background-color: var(--black-color);
    padding: 5em 3em;
}

#integration h2 {
    width: 90%;
    font-size: 50px;
    margin: 1em auto;
}
#int-div {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.int-card {
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.3em;
    margin: 1em;
    width: 332px;
    height: 168px;
}
.int-icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.int-icon-title h3 {
    margin-left: 0.5em;
}
#testimonial {
    width: 90%;
    margin: 5em auto;
}

#testimonial h2 {
    font-size: var(--xxl-fs);
    width: 90%;
    margin: 1em auto;
}
#testimonial-div {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.test-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--trans-color);
    border-radius: 10px;
    color: var(--white-color);
    width: 503px;
    height: 395px;
    margin: 1em;
    padding: 1em 3em;

}
.star-div {
    padding-top: 1em;
}
.test-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.test-card h3, p , .test-card-div {
    padding: 0.5em 0;
} 
.test-card p {
    font-size: var(--xsm-fs);
}
.test-card-div {
    display: flex;
    align-items: center;
    padding-top: 1em;
}
.test-card-div p {
    margin-left: 1em;
} 
#nav-pro-div {
    margin: 4em auto;
    width: 20%;
}
footer {
    margin: 15em auto 0;
    background-color: var(--black-color);
}
#sign-up {
    width: 78%;
    margin: 0 auto;
    position: relative;
    top: -100px;
    background-color:var(--dk-green-color);
    color: var(--white-color);
    padding: 4em 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#sign-up h2{
    font-size:var(--xxxl-fs);
    color: var(--black-color);
}
#sign-up p{
    font-size: var(--lg-fs);
}
.black-btn {
    background-color: var(--black-color) !important;
    color: var(--white-color);
}
#foot-div {
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: 0 auto;
    padding-bottom: 4em;
}
#foot-div ul li{
    margin: 1em 0;
}

@media (max-width: 768px) {
    #nav-link-div, .flex:not(:first-child),
    #purple-text-div, #whatsapp1, #pricing,
    #container2{
        display: none;
    }
    body{
        overflow-x: hidden;
    }
    #nav-bar {
        display: block;
    }
    #nav-bar img{
        max-width: 70%;
    }
    .trial-btn {
        text-align: center;
    }
    #banner {
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    #banner-text h2 {
        font-size: var(--mb-xl-fs);
    }
    #banner-text h3 {
        font-size: var(--lg-fs);
        padding: 0.5em 0;
    }
    #banner-text p {
        font-size: var(--sm-fs);
        font-weight: lighter;
    }
    #banner-text {
        order: 2
    }
    .flex img{
        max-width: 100%;
    }
    .flex {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        gap: 1em;
    }
    #purple-circle {
        background: var(--purple-color);
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    #banner-img {
        margin: -5em auto;
        gap: 0;
    }
    main {
        margin: 1em auto;
    }
    #aim {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #whatsapp2-div {
        margin: 2em auto;
        width: 100%;
        order: 2;
    }
    #whatsapp2-div img{
        max-width: 90%;
    }
    #aim-text {
        width: 100%;
    }
    #aim-text h2{
        font-size: var(--mb-xl-fs);
        line-height: 53px;
        margin: 0 auto;
        text-align: center;
    }
    .aim-list ul {
        list-style-type: none;
        font-size: var(--md-fs);
    }
    #aim-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2em auto;
    }
    #testimonial {
        width: 100%;
    }
    #testimonial h2 {
        font-size: var(--xl-fs);
        width: 100%;
    }
    #testimonial-div {
        display: flex;
        justify-content: center;
        width: 703px;
        height: auto;
    }
    .test-div {
        width: 100%;
        height: auto;
        margin: 1em;
        padding: 1em 1em;
    }
    #sign-up {
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: -120px;
        padding: 2em;
        border-radius: 10px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    #sign-up h2{
        font-size:var(--xl-fs);
    }
    #sign-up p {
        color: var(--white-color);
    }
    #foot-div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 85%;
        margin: 0 auto;
        padding-bottom: 4em;
    }
    #foot-div ul {
        display: flex;
        flex-wrap: wrap;
    }
    #foot-div ul li{
        margin: 1em 0;
        width: 50%;
    }
    #nav-pro-div {
        margin: 4em auto;
        width: 50%;
    }
    #nav-pro-div img{
        max-width: 80%;
    }
}

@media (max-width: 1024px) {

}
